/* MainItemList 부분에 대한 css 파일 -th */

.mainItemList_wrap {
    display: flex;
    justify-content: center;
}

.mainItemList {
    display: block;
    width: 1280px;
}

.list_text {
    width: 1280px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.demands {
    display: block;
}

.supplies {
    display: block;
}