#category_wrap {
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    width: 1280px;
}
.button_wrap {
    margin-right: auto;
    width: 120px;
    height: 25px;
}
.category {
    border: none;
    background: none;
    cursor: pointer;
    outline: 0;
    width: 120px;
    height: 25px;
}