@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
ul {margin:0;padding:10px}
dl,ul,ol,menu,li {list-style:none}

.mylist li {border-top:1px solid #ccc}
.mylist .link_items {display:grid;overflow:hidden}
.mylist .img_items {float:left;width:200px;height:150px;margin-right:10px}
.mylist .info_items {overflow:hidden}
.mylist .info_items .tit_items {display:grid;font-size:16px;padding:8px 0}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#FaIcon{
    width: 30px;
    height:30px;
}