/* 상품 정보를 보여주는 부분에 대한 css 파일 */
/* 태형 수정 */

.itemInfo_wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 8%;
}

.demand {
    display: flex;
}

.supply {
    display: flex;
}

.price {
    display: flex;
}